* {
  box-sizing: border-box;
}

/* this is currently optimized for mininum width of 375px (mobile) */

a {
  color: black;
  font-size: 1rem;
  padding: 10px;
  text-decoration: none;
}

a:hover {
  background-color:transparent;
  color: blue;
}

.add-new-bookmark-form {
  background-color: white;
  clear: both;
  margin-top: 30px;
  padding:10px;
  position: relative;
}

body {
  margin: 0 auto;
  max-width: 355px;
  padding:10px;
  text-align: center;
}

.bookmark-element {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

.bookmark-list {
  list-style:none;
  padding-left:0;
  padding-top:30px;
}

.bookmark-title {
  font-weight: bold;
};

button:hover {
  background-color: grey;
  border-radius: 5px;
  color: black;
  cursor: pointer;
}

button, input, select, textarea {
  background-color: transparent;
  border-radius: 5px;
  margin:10px;
  text-align: center;
}

.delete-bookmark {
  cursor: pointer;
  padding: 10px;
}

.delete-bookmark:hover {
  background-color: transparent;
  color: red;
  cursor: pointer;
  padding: 10px;
}

.edit-bookmark:hover {
  background-color: transparent;
  color: grey;
}

.error-message, .edit-error-message {
  color:red;
}

.expand {
  border: 1px black solid;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  width: 90%;
}

.expand:hover {
  box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.36);
  color: black;
  cursor: pointer;
  display: inline-block;
  -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.36); 
  width: 95%;
}


.filter-label {
  font-weight: bold;
}

.new-bookmark {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  float: center;
  font: 1rem;
  font-weight: bold;
  padding: 20px;
}

.new-bookmark:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

select:hover {
  cursor: pointer;
}