* {
  box-sizing: border-box;
}

/* this is currently optimized for mininum width of 375px (mobile) */

a:hover {
  background-color:white;
  color:black;
}

.add-new-bookmark-form {
  background-color: white;
  clear: both;
  margin-top: 30px;
  padding:10px;
  position: relative;
}

.bookmark-element {
  border: 1px solid black;
}

.bookmark-list {
  list-style:none;
  padding-left:0;
  padding-top:30px;
}

.bookmark-title {
  font-weight: bold;
};

button:hover {
  background-color: #ddd;
  color: black;
  cursor: pointer;
}


.container {
  margin: 0 auto;
  max-width: 355px;
  padding:10px;
  text-align: center;
}


button, input, select, textarea {
  margin-top:10px;
  text-align: center;
}

.delete-bookmark:hover {
  background-color: transparent;
  color: red;
}

.edit-bookmark:hover {
  background-color: transparent;
  color: grey;
}

.error-message, .edit-error-message {
  color:red;
}

.filter-label {
  font-weight: bold;
}

.new-bookmark {
  border: 1px solid black;
  float: center;
  padding: 10px;
}

select:hover {
  cursor: pointer;
}
